body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

body {
  background: #fff; }

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63; }

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none; }

nav {
  background-color: #3f51b5; }

.card_button {
  float: right;
  margin-top: 2%; }

.seperate {
  clear: both !important;
  margin: 2%; }

.play_button {
  background-color: #3f51b5 !important;
  color: #FFFFFF !important; }

.play_button i {
  font-size: 1.75rem;
  line-height: inherit;
  margin-top: -10%; }

.home-post-footer {
  margin-top: 1.5%; }

.up-vote {
  color: green !important; }

.down-vote {
  color: red !important; }

@media only screen and (min-width: 992px) {
  .card .card-image img {
    height: 260px !important;
    object-fit: cover !important; } }

@media only screen and (max-width: 992px) {
  .card .card-image img {
    height: auto !important; } }
