body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

body {
  background: #fff; }

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63; }

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none; }

.user-btn {
  color: #FFFFFF !important;
  font-weight: 600 !important; }

.credentials {
  background-color: #3f51b5 !important;
  text-align: center; }

.login-heading {
  font-weight: 500 !important;
  color: #FFFFFF !important; }

.title h1 {
  color: #FFFFFF !important;
  text-align: center; }

.user-action-link a {
  color: #FFFFFF !important; }

nav {
  background-color: #3f51b5; }

.card_button {
  float: right;
  margin-top: 2%; }

.seperate {
  clear: both !important;
  margin: 2%; }

.play_button {
  background-color: #3f51b5 !important;
  color: #FFFFFF !important;
  margin-top: 5% !important; }

.play_button i {
  font-size: 1.75rem;
  line-height: inherit;
  margin-top: -10%; }

.save-button {
  background-color: #3f51b5 !important;
  color: #FFFFFF !important; }

.save-icon {
  margin-top: -4.5% !important; }

.home-post-footer {
  margin-top: 1.5%; }

nav .brand-logo {
  font-size: 2.3rem !important;
  padding: 0 1% !important;
  margin: 0px 0px 0px 10px !important;
  font-weight: 600 !important; }

.logo {
  font-size: 0.85em !important;
  margin-left: 0 !important; }

.dash-logo {
  font-size: 0.75em !important;
  margin-left: 1px !important;
  margin-top: -1% !important; }

nav ul a:hover,
nav a:hover {
  background-color: #FFF !important;
  text-decoration: none !important; }

nav .menu-button a:hover {
  background-color: transparent !important;
  color: #FFF !important; }

.side-nav li > a {
  color: #212121 !important; }

.side-nav li > a:hover .mobile-link,
.side-nav li > a:hover {
  color: #FFFFFF !important; }

.side-nav li > a:hover {
  background-color: #3f51b5 !important; }

.card {
  margin-top: 10% !important; }

.voted {
  cursor: pointer !important; }

#the-top {
  display: inline-block;
  background-color: #3f51b5;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2%;
  right: 1.5%;
  cursor: pointer;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0.7 !important;
  visibility: hidden;
  z-index: 1000;
  color: #FFF; }

#the-top.show {
  opacity: 1;
  visibility: visible; }

.up-vote {
  color: green !important; }

.down-vote {
  color: red !important; }

.welcome h1, .welcome h2 {
  margin: 3% 0 2% 0 !important; }

.live-icon {
  color: #007bff; }

.legend i {
  padding-top: 1.5%; }

@media only screen and (min-width: 992px) {
  .card .card-image img {
    height: 260px !important;
    object-fit: cover !important; } }

@media only screen and (max-width: 992px) {
  .card .card-image img {
    height: auto !important; }
  .play_button {
    padding-top: 7% !important; } }

@media only screen and (max-width: 640px) {
  .save-button {
    padding-top: 1.5% !important; }
  .welcome h1,
  .welcome h2 {
    margin: 5% 0 5% 0 !important; } }

@media only screen and (max-width: 320px) {
  .save-button {
    padding-top: 3% !important; } }
