<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <style>
        nav ul a:hover {
            background-color: #FFF !important;
            text-decoration: none !important;
        }
    </style>
    
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <!--<a href="#" class="brand-logo">Videos</a>-->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('profile') }}">My Videos<i class="material-icons right">video_library</i></a></li>
                    <li><a href="{{ url_for('feed') }}">Feed<i class="material-icons right">ondemand_video</i></a></a>
                    </li>
                    <li><a href="{{ url_for('newplaylist') }}">New Video<i class="material-icons right">video_call</i></a></a>
                    </li>
                    <li><a href="{{ url_for('logout') }}">Logout<i class="material-icons right">person</i></a></a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ url_for('profile') }}">My Videos</a></li>
                    <li><a href="{{ url_for('feed') }}">Videos</a></li>
                    <li><a href="{{ url_for('newplaylist') }}">New Video</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    </script>
</body>

</html>
