<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/videos" class="brand-logo">VIDX<i class="material-icons dash-logo right">live_tv</i></a>
                <div class="menu-button">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/profile">My Videos<i class="material-icons right">video_library</i></a></li>
                    <li><a href="/videos">All Videos<i class="material-icons right">ondemand_video</i></a>
                    </li>
                    <li><a href="/new-playlist">New Video<i class="material-icons right">video_call</i></a>
                    </li>
                    <li><a href="/logout">Logout<i class="material-icons right">person</i></a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/profile">My Videos<i class="material-icons mobile-link right">video_library</i></a></li>
                    <li><a href="/videos">All Videos<i class="material-icons mobile-link right">ondemand_video</i></a>
                        <li><a href="/new-playlist">New Video<i class="material-icons mobile-link right">video_call</i></a>
                        </li>
                        <li><a href="/logout">Logout<i class="material-icons mobile-link right">person</i></a>
                        </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <div class="scrollTop">
        <i class="material-icons right">keyboard_arrow_up</i>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            /*global $*/
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        //Scroll to top button
        var scrollTop = $(".scrollTop");

        $(scrollTop).click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 800);
            return false;

        });

        
    </script>
</body>

</html>
