{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for playlist in playlists %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ playlist.img_source }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ playlist.title }}<i class="material-icons right">more_vert</i></span>
                <hr />
                <p><strong>Category: </strong><a href="#">{{ playlist.category_name }}</a></p>
                <div class="card_button">
                    <a href="{{ playlist.video_source }}" target="_blank" class="waves-effect waves-light btn play_button"><i class="material-icons right">play_circle_filled</i>Watch</a>
                </div>
                <br />
                <a href="/delete/{{ playlist.playlist_id }}"><i class="material-icons left">delete</i></a>
                <a href="#" target="_blank"><i class="material-icons left">edit</i></a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ playlist.title }}<i class="material-icons right">close</i></span>
                <p>{{ playlist.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
