{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for video in videos %}
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator backup_picture" alt="{{ video.title }}" src="{{ video.img_source }}" onerror="this.onerror=null;this.src='/static/images/blank.png';">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" title="Click here for more information">{{ video.title }}<i class="material-icons right">more_vert</i></span>
                <hr>
                <p><strong>Category: </strong><a href="/my-profile/order-by/category/{{ video.category_name }}" title="Click here to order by category: {{ video.category_name }}">{{ video.category_name }}</a></p>
                <div class="card_button">
                    <a href="{{ video.video_source }}" target="_blank" class="waves-effect waves-light btn play_button" title="Watch video now"><i class="material-icons right">play_circle_filled</i>Watch</a>
                </div>
                <br />
                <a href="/delete/{{ video.video_id }}" title="Delete {{ video.title }}"><i class="material-icons left">delete</i></a>
                <a href="/edit/{{ video.video_id }}" title="Edit {{ video.title }}"><i class="material-icons left">edit</i></a> &nbsp;
                <hr>
                <div class="post-footer">
                    {% set total = 0 %} 
                        {% for vote in votes %} 
                            {% if vote.video_id == video.video_id %} 
                                {% set total = (total + get_votes(vote.video_id)) %}
                                <p class="left"><strong>Votes: </strong>{{ total }}</p>
                                {% break %} 
                            {% endif %} 
                        {% endfor %} 
                    {% if video.origin == 'false' %}
                    <p class="right"><strong>Status: </strong><a href="/my-profile/order-by/saved/1" title="Click here to order by reposted videos">Reposted</a></p>
                    {% else %}
                    <p class="right"><strong>Status: </strong><a href="/my-profile/order-by/saved/0" title="Click here to order by original videos!">Original</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ video.title }}<i class="material-icons right">close</i></span>
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
