{% extends 'base.html'%} {% block content %}
<div class="row">
    <form action="/edit-video" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="video_id" name="video_id" value="{{ video.video_id }}" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter video title" value="{{ video.title }}" name="title" id="title" type="text" class="validate" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter video description" value="{{ video.description }}" name="description" id="description" type="text" class="validate" required>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter image link address" value="{{ video.img_source }}" name="image" id="image" type="text" class="validate" required>
                <label for="image">Image Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter video link address" value="{{ video.video_source }}" name="video" id="video" type="text" class="validate" required>
                <label for="video">Video Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="category_id">
                  {% for cat in categories %}
                      {% if video.category_id == cat.category_id %}
                      <option selected value="{{cat.category_id}}">{{cat.category_name}}</option>
                      {% else %}
                      <option value="{{cat.category_id}}">{{cat.category_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                <label>Category</label>
            </div>
        </div>
         <button autofocus class="waves-effect waves-light btn right save-button"><i class="material-icons save-icon right">save</i>Save</button>
    </form>
</div>
{% endblock %}
