{% extends 'base.html'%} {% block content %}
<div class="row">
    <form action="/add-video" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="user_id" name="user_id" value="{{userid}}" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter video title" name="title" id="title" type="text" class="validate" required>
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter video description" name="description" id="description" type="text" class="validate" required>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter image link address" name="image" id="image" type="text" class="validate" required>
                <label for="image">Image Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Enter video link address" name="video" id="video" type="text" class="validate" required>
                <label for="video">Video Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                 <select name="category_id" required>
                  <option value="" disabled selected>Choose Option</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_id}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                <label>Category</label>
            </div>
        </div>
         <button autofocus class="waves-effect waves-light btn right save-button"><i class="material-icons save-icon right">send</i>Post</button>
    </form>
</div>
{% endblock %}
