{% extends 'credentials.html'%} {% block content %}

<div class="section"></div>
<h5 class="login-heading users">Register a new account</h5>

<div class="section">
  <div class="message-display">
    {% if message %} {% if message['message_type'] == "error" %}
    <div class="messages" role="alert">
      <strong>{{ message['message_info'] }}</strong>
    </div>
    {% endif %} {% endif %}
  </div>
</div>

<div class="container">
  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

    <form class="col s12" action="/register-user/" method="POST">
      
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='text' name='username' id='username' required/>
          <label for='username'>Enter a username</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='password' name='password' id='password' required/>
          <label for='password'>Enter a password</label>
        </div>
      </div>

      <br />

      <div class='row'>
        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo user-btn'>Register</button>
      </div>
      
    </form>
  </div>
</div>

<div class="user-action-link">
  <a href="/">Sign in</a>
</div>

{% endblock %}
