{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for video in videos %}
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator backup_picture" alt="{{ video.title }}" src="{{ video.img_source }}" onerror="this.onerror=null;this.src='/static/images/blank.png';">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" title="Click here for more information">{{ video.title }}<i class="material-icons right">more_vert</i></span>
                <hr />
                <p><strong>Category: </strong><a href="/videos/order-by/category/{{ video.category_name }}" title="Click here to order by category: {{ video.category_name }}">{{ video.category_name }}</a></p>
                <div class="card_button">
                    <a href="{{ video.video_source }}" target="_blank" class="waves-effect waves-light btn play_button" title="Watch video now"><i class="material-icons right">play_circle_filled</i>Watch</a>
                </div>
                <br />
                <a href="/repost/{{ video.video_id }}" title="Save video to your profile"><i class="material-icons">save</i></a> 
                {% set voted = check_voted(userid, video.video_id) %} 
                {% if voted['count'] == 0 %}
                <a href="/downvote/{{ video.video_id }}" title="Down vote this video"><i class="down-vote material-icons">arrow_downward</i></a>
                <a href="/upvote/{{ video.video_id }}"  title="Up vote this video"><i class="up-vote material-icons">arrow_upward</i></a> 
                {% else %} 
                        {% if voted['vote'] == 1 %}
                        <i class="voted material-icons" title="You have up voted this video">arrow_upward</i> 
                        {% else %}
                        <i class="voted material-icons" title="You have down voted this video">arrow_downward</i> 
                        {% endif %} 
                {% endif %}
                <hr /> 
                {% set total = 0 %} 
                {% for vote in votes %} 
                    {% if vote.video_id == video.video_id %} 
                    {% set total = (total + get_votes(vote.video_id)) %}
                    <p class="left"><strong>Votes: </strong>{{ total }}</p>
                    {% break %} 
                    {% endif %} 
                {% endfor %}
                <p class="right"><strong>Posted By: </strong><a href="/videos/order-by/user/{{ video.username }}" title="Click here to order by username: {{ video.username }}">{{ video.username }}</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ video.title }}<i class="material-icons right">close</i></span>
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
