{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="welcome">
            <h1>Welcome User</h1>

            <p>This Website is for the ability to upload your favorite videos and to up/down vote videos that other users have uploaded</p>

            <h2>Instructions</h2>
            <ul class="welcome-list">
                <li><i class="live-icon material-icons">save</i> Save video to your profile
                    <hr/>
                </li>
                <li><i class="down-vote material-icons">arrow_downward</i> Down vote a video
                    <hr/>
                </li>
                <li><i class="up-vote material-icons">arrow_upward</i> Up vote a video
                    <hr/>
                </li>
                <li><i class="material-icons">arrow_downward</i> Down Voted
                    <hr/>
                </li>
                <li><i class="material-icons">arrow_upward</i> Up Voted
                    <hr/>
                </li>
                <li><i class="live-icon material-icons">edit</i> Edit a video
                    <hr/>
                </li>
                <li><i class="live-icon material-icons">delete</i> Delete a video
                    <hr/>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}
