nav {
    background-color: $background-color;
}

.card_button {
    float: right;
    margin-top: 2%;
}

.seperate {
    clear: both !important;
    margin: 2%;
}

.play_button {
    background-color: $background-color !important;
    color: #FFFFFF !important;
}

.play_button i {
    font-size: 1.75rem;
    line-height: inherit;
    margin-top: -10%;
}

.home-post-footer {
    margin-top: 1.5%;
}


/*Test*/
.card .card-image img {
    height: 300px !important;
}