@media only screen and (min-width: 992px) {
    .card .card-image img {
        height: 260px !important;
        object-fit: cover !important;
    }
}

@media only screen and (max-width: 992px) {
    .card .card-image img {
        height: auto !important;
    }
    .play_button {
        padding-top: 7% !important;
    }
}

@media only screen and (max-width: 640px) {
    .save-button {
        padding-top: 1.5% !important;
    }

    .welcome h1,
    .welcome h2 {
        margin: 5% 0 5% 0 !important;
    }

}

@media only screen and (max-width: 320px) {
    .save-button {
        padding-top: 3% !important;
    }
}
